*.class 
# Project exclude paths
/.gradle/
/build/
/cirrus-api/build/
/cirrus-api/build/classes/java/main/
/cirrus-bungeecord/build/
/cirrus-bungeecord/src/build/
/cirrus-bungeecord/src/main/build/
/cirrus-bungeecord/src/main/cirrus-velocity/build/
/cirrus-spigot/build/
/cirrus-velocity/build/
bin/
lib/

*.jar
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

**/repo.simplix.dev/**
*.DS_
*.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Minecraft ###
/cirrus-spigot/run/
/cirrus-bungeecord/run/
/cirrus-velocity/run/

### Fleet ###
/.fleet/

### Misc ###
LinesCounter.py
*.MF
*.jar
*.sha256
*.sha256
*.sha512
*.sha1
*.md5
*.md5
*.md5
*.jar
*.sha512
*.sha1
*.sha256
*.sha256
*.sha1
*.sha512
*.jar
